In [62]:
# import library
import numpy as np
import pandas as pd
from sklearn import tree

In [63]:
# membaca dataset
ukaiDataset = pd.read_excel('DatasetUKAI.xlsx', header=0)

In [64]:
ukaiDataset.head()

,No,NOMOR PESERTA,INSTITUSI,NAMA LENGKAP,NILAI,KESIMPULAN
0,1,210333301546,PESERTA MANDIRI,ALl SYAHBUDDlN,DlBAWAH NBL,Tidak Lulus
1,2,210333302485,PESERTA MANDIRI,MUHAMMAD HANlEP PERMANA,DlBAWAH NBL,Tidak Lulus
2,3,210333302688,PESERTA MANDIRI,RlDWANSYAH,DlBAWAH NBL,Tidak Lulus
3,4,210333303995,PESERTA MANDIRI,ANGGA SUHERDlANA,DlBAWAH NBL,Tidak Lulus
4,5,210333304551,PESERTA MANDIRI,DlAS AGl LlA ARDlANA,DlBAWAH NBL,Tidak Lulus

In [65]:
# mengubah kelas (kolom) dari string ke unique-Integer
ukaiDataset["KESIMPULAN"] = pd.factorize(ukaiDataset.KESIMPULAN)[0]

In [66]:
# mengubah kelas (INSTITUSI) dari string ke unique-Integer
ukaiDataset["INSTITUSI"] = pd.factorize(ukaiDataset.INSTITUSI)[0]

In [67]:
# mengubah kelas (NILAI) dari string ke unique-Integer
ukaiDataset["NILAI"] = pd.factorize(ukaiDataset.NILAI)[0]

In [68]:
ukaiDataset.head()

   No  NOMOR PESERTA  INSTITUSI             NAMA LENGKAP  NILAI  KESIMPULAN
0   1   210333301546          0           ALl SYAHBUDDlN      0           0
1   2   210333302485          0  MUHAMMAD HANlEP PERMANA      0           0
2   3   210333302688          0               RlDWANSYAH      0           0
3   4   210333303995          0         ANGGA SUHERDlANA      0           0
4   5   210333304551          0     DlAS AGl LlA ARDlANA      0           0

In [69]:
print(ukaiDataset)

      No  NOMOR PESERTA  INSTITUSI              NAMA LENGKAP  NILAI  \
0      1   210333301546          0            ALl SYAHBUDDlN      0
1      2   210333302485          0   MUHAMMAD HANlEP PERMANA      0
2      3   210333302688          0                RlDWANSYAH      0
3      4   210333303995          0          ANGGA SUHERDlANA      0
4      5   210333304551          0      DlAS AGl LlA ARDlANA      0
..   ...            ...        ...                       ...    ...
317  318   210501904845          1       SHlNTA DAMA APRYANl      1
318  319   210501904846          1       MUHAMMAD SYAMSUDDlN      0
319  320   210501904848          1           SONTA TUMANGGOR      0
320  321   210501904850          1              llS PRlYANTl      0
321  322   210501904880          1  FRANSlSKA VlTA HANDAYANl      0

     KESIMPULAN
0             0
1             0
2             0
3             0
4             0
..          ...
317           1
318           0
319           0
320           0
321           0

[322 rows x 6 columns]

In [70]:
# menghapus kolom "NOMOR PESERTA" & "NAMA LENGKAP"
ukaiDataset = ukaiDataset.drop(labels="NOMOR PESERTA", axis=1)
ukaiDataset = ukaiDataset.drop(labels="NAMA LENGKAP", axis=1)

In [71]:
print(ukaiDataset)

      No  INSTITUSI  NILAI  KESIMPULAN
0      1          0      0           0
1      2          0      0           0
2      3          0      0           0
3      4          0      0           0
4      5          0      0           0
..   ...        ...    ...         ...
317  318          1      1           1
318  319          1      0           0
319  320          1      0           0
320  321          1      0           0
321  322          1      0           0

[322 rows x 4 columns]

In [72]:
# mengubah dataframe ke array numpy
ukaiDataset = ukaiDataset.to_numpy()

In [73]:
print(ukaiDataset)

[[  1   0   0   0]
 [  2   0   0   0]
 [  3   0   0   0]
 ...
 [320   1   0   0]
 [321   1   0   0]
 [322   1   0   0]]

In [74]:
# membagi dataset 250 untuk training dan 72 untuk testing
dataTraining = np.concatenate((ukaiDataset[0:200, :], ukaiDataset[250:300, :]), axis=0)
dataTesting = np.concatenate((ukaiDataset[200:250, :], ukaiDataset[300:322, :]), axis=0)

In [75]:
print(dataTraining)
len(dataTraining)

[[  1   0   0   0]
 [  2   0   0   0]
 [  3   0   0   0]
 [  4   0   0   0]
 [  5   0   0   0]
 [  6   0   0   0]
 [  7   0   0   0]
 [  8   0   0   0]
 [  9   0   0   0]
 [ 10   0   0   0]
 [ 11   1   0   0]
 [ 12   1   0   0]
 [ 13   1   1   1]
 [ 14   1   0   0]
 [ 15   1   0   0]
 [ 16   1   1   1]
 [ 17   1   1   1]
 [ 18   1   1   1]
 [ 19   1   0   0]
 [ 20   1   1   1]
 [ 21   1   1   1]
 [ 22   1   0   0]
 [ 23   1   0   0]
 [ 24   1   1   1]
 [ 25   1   0   0]
 [ 26   1   1   1]
 [ 27   1   1   1]
 [ 28   1   1   1]
 [ 29   1   0   0]
 [ 30   1   1   1]
 [ 31   1   0   0]
 [ 32   1   0   0]
 [ 33   1   0   0]
 [ 34   1   1   1]
 [ 35   1   0   0]
 [ 36   1   1   1]
 [ 37   1   0   0]
 [ 38   1   1   1]
 [ 39   1   1   1]
 [ 40   1   1   1]
 [ 41   1   0   0]
 [ 42   1   1   1]
 [ 43   1   1   1]
 [ 44   1   1   1]
 [ 45   1   0   0]
 [ 46   1   1   1]
 [ 47   1   1   1]
 [ 48   1   1   1]
 [ 49   1   1   1]
 [ 50   1   1   1]
 [ 51   1   0   0]
 [ 52   1   1   1]
 [ 53   1   1   1]
 [ 54   1   0   0]
 [ 55   1   1   1]
 [ 56   1   1   1]
 [ 57   1   0   0]
 [ 58   1   1   1]
 [ 59   1   0   0]
 [ 60   1   1   1]
 [ 61   1   0   0]
 [ 62   1   1   1]
 [ 63   1   1   1]
 [ 64   1   1   1]
 [ 65   1   0   0]
 [ 66   1   0   0]
 [ 67   1   1   1]
 [ 68   1   1   1]
 [ 69   1   1   1]
 [ 70   1   1   1]
 [ 71   1   0   0]
 [ 72   1   0   0]
 [ 73   1   1   1]
 [ 74   1   1   1]
 [ 75   1   0   0]
 [ 76   1   1   1]
 [ 77   1   1   1]
 [ 78   1   1   1]
 [ 79   1   1   1]
 [ 80   1   1   1]
 [ 81   1   1   1]
 [ 82   1   0   0]
 [ 83   1   0   0]
 [ 84   1   1   1]
 [ 85   1   0   0]
 [ 86   1   0   0]
 [ 87   1   0   0]
 [ 88   1   0   0]
 [ 89   1   0   0]
 [ 90   1   0   0]
 [ 91   1   0   0]
 [ 92   1   0   0]
 [ 93   1   0   0]
 [ 94   1   0   0]
 [ 95   1   1   1]
 [ 96   1   0   0]
 [ 97   1   0   0]
 [ 98   1   0   0]
 [ 99   1   0   0]
 [100   1   0   0]
 [101   1   1   1]
 [102   1   0   0]
 [103   1   0   0]
 [104   1   1   1]
 [105   1   0   0]
 [106   1   1   1]
 [107   1   1   1]
 [108   1   0   0]
 [109   1   1   1]
 [110   1   0   0]
 [111   1   1   1]
 [112   1   1   1]
 [113   1   0   0]
 [114   1   1   1]
 [115   1   1   1]
 [116   1   1   1]
 [117   1   1   1]
 [118   1   1   1]
 [119   1   1   1]
 [120   1   1   1]
 [121   1   1   1]
 [122   1   0   0]
 [123   1   0   0]
 [124   1   1   1]
 [125   1   0   0]
 [126   1   1   1]
 [127   1   1   1]
 [128   1   0   0]
 [129   1   1   1]
 [130   1   0   0]
 [131   1   1   1]
 [132   1   0   0]
 [133   1   1   1]
 [134   1   1   1]
 [135   1   1   1]
 [136   1   1   1]
 [137   1   0   0]
 [138   1   1   1]
 [139   1   1   1]
 [140   1   1   1]
 [141   1   0   0]
 [142   1   1   1]
 [143   1   1   1]
 [144   1   1   1]
 [145   1   0   0]
 [146   1   0   0]
 [147   1   1   1]
 [148   1   0   0]
 [149   1   1   1]
 [150   1   0   0]
 [151   1   1   1]
 [152   1   0   0]
 [153   1   1   1]
 [154   1   0   0]
 [155   1   0   0]
 [156   1   1   1]
 [157   1   0   0]
 [158   1   1   1]
 [159   1   1   1]
 [160   1   1   1]
 [161   1   1   1]
 [162   1   1   1]
 [163   1   0   0]
 [164   1   0   0]
 [165   1   1   1]
 [166   1   1   1]
 [167   1   0   0]
 [168   1   0   0]
 [169   1   1   1]
 [170   1   1   1]
 [171   1   1   1]
 [172   1   1   1]
 [173   1   1   1]
 [174   1   0   0]
 [175   1   0   0]
 [176   1   1   1]
 [177   1   0   0]
 [178   1   0   0]
 [179   1   0   0]
 [180   1   1   1]
 [181   1   0   0]
 [182   1   0   0]
 [183   1   0   0]
 [184   1   1   1]
 [185   1   1   1]
 [186   1   0   0]
 [187   1   1   1]
 [188   1   1   1]
 [189   1   1   1]
 [190   1   0   0]
 [191   1   1   1]
 [192   1   0   0]
 [193   1   0   0]
 [194   1   0   0]
 [195   1   0   0]
 [196   1   0   0]
 [197   1   0   0]
 [198   1   1   1]
 [199   1   0   0]
 [200   1   1   1]
 [251   1   1   1]
 [252   1   1   1]
 [253   1   1   1]
 [254   1   0   0]
 [255   1   0   0]
 [256   1   0   0]
 [257   1   0   0]
 [258   1   0   0]
 [259   1   1   1]
 [260   1   0   0]
 [261   1   1   1]
 [262   1   0   0]
 [263   1   1   1]
 [264   1   0   0]
 [265   1   1   1]
 [266   1   0   0]
 [267   1   1   1]
 [268   1   1   1]
 [269   1   1   1]
 [270   1   1   1]
 [271   1   0   0]
 [272   1   0   0]
 [273   1   0   0]
 [274   1   0   0]
 [275   1   0   0]
 [276   1   0   0]
 [277   1   0   0]
 [278   1   0   0]
 [279   1   0   0]
 [280   1   0   0]
 [281   1   0   0]
 [282   1   0   0]
 [283   1   1   1]
 [284   1   1   1]
 [285   1   0   0]
 [286   1   1   1]
 [287   1   0   0]
 [288   1   0   0]
 [289   1   1   1]
 [290   1   0   0]
 [291   1   1   1]
 [292   1   0   0]
 [293   1   0   0]
 [294   1   0   0]
 [295   1   0   0]
 [296   1   0   0]
 [297   1   0   0]
 [298   1   0   0]
 [299   1   1   1]
 [300   1   1   1]]

250

In [77]:
# memecah dataset ke input dan label
inputTraining = dataTraining[:, 0:3]
inputTesting = dataTesting[:, 0:3]
labelTraining = dataTraining[:, 3]
labelTesting = dataTesting[:, 3]
print(labelTesting)
len(labelTesting)

[1 1 0 0 0 0 1 1 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0]

72

In [78]:
# mendefinisikan decision tree classifier
model = tree.DecisionTreeClassifier()

In [79]:
# mentraining model
model = model.fit(inputTraining, labelTraining)

In [80]:
# memprediksi input data testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1 1 0 0 0 0 1 1 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0]
Hasil Prediksi :  [1 1 0 0 0 0 1 1 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0]

In [81]:
# menghitung akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, " data")
print("Prediksi Salah :", prediksiSalah, " data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, " %")

Prediksi Benar : 72  data
Prediksi Salah : 0  data
Akurasi : 100.0  %

In [85]:
import pydotplus
from sklearn import tree
dot_data = tree.export_graphviz(model, out_file=None)
from IPython.display import Image
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())
graph.write_png('ukai.png')

True